.hero {
  background: url("../../../res/hero_background.png") no-repeat;
  min-height: calc(90vh - 60px);

  &__content {
    align-items: center;
    display: flex;
    flex-flow: column;

    &-devices {
      height: 80%;
      margin: 4rem;
    }
  }
}
