.pad {
  &__moods,
  &__note,
  &__attachments {
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    width: 300px;
  }

  &__moods {
    border: solid 1px #999999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &_mood {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  }

  &__note {
    border: solid 1px #999999;
    min-height: 220px;

    & > textarea {
      border: 0 none;
      font-size: 14px;
      margin: 0;
      outline: 0 none;
      padding: 20px 30px;
      width: 100%;
    }
  }

  &__attachments {
    align-items: center;
    border: dashed 1px #999999;
    display: flex;
    height: 140px;
    justify-content: center;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  input,
  select,
  textarea {
    width: 200px;
  }
}
